<div class="container">

    <h1>Update account details</h1>

    <form action="./updateaccount" method="POST" class = "form">
        <div class="flex-col mb">
            <label for="txtUsername">Username:</label>
            <input type="text" name="username" id="txtUsername" value="{{user.username}}">
        </div>

        <div class="flex-row mb" id="avatar">
            <label for="avatar">Choose your avatar:</label>
            
 {{!-- Add logic to check the avatar user has currently selected --}}
            <input type="radio" name="avatar" id="avatar" value="cat" checked>
            <img src="\images\cat.png" height="60px">

            <input type="radio" name="avatar" id="avatar" value="dog">
            <img src="\images\dog.png" height="60px">

            <input type="radio" name="avatar" id="avatar" value="fox">
            <img src="\images\fox.png" height="60px">

            <input type="radio" name="avatar" id="avatar" value="gorilla">
            <img src="\images\gorilla.png" height="60px">

            <input type="radio" name="avatar" id="avatar" value="koala">
            <img src="\images\koala.png" height="60px">

            <input type="radio" name="avatar" id="avatar" value="rabbit">
            <img src="\images\rabbit.png" height="60px">

            <input type="radio" name="avatar" id="avatar" value="tiger">
            <img src="\images\tiger.png" height="60px">
        </div>

        <div class="flex-col mb">
            <label for="txtFirstName">First name:</label>
            <input type="text" name="firstName" id="txtFirstName" value="{{user.first_name}}">
        </div>

        <div class="flex-col mb">
            <label for="txtLastName">Last name:</label>
            <input type="text" name="lastname" id="txtLastName" value="{{user.last_name}}">
        </div>

        <div class="flex-col mb">
            <label for="dob">Date of birth:</label>
            <input type="date" name="dob" id="dob" value="{{user.date_of_birth}}">
        </div>

        <div class="flex-col mb">
            <label for="description">Provide a short description of yourself:</label>
            <input type="text" name="description" id="description" value="{{user.description}}">
        </div>

        <div class="flex-row justify-sb align-center">
            <button type="submit">Update account</button>
        </div>
    </form>

    <h2>Delete your account</h2>
    <p>If you delete your account, all your articles and comments will also be deleted.</p>
    <form action="./deleteAccount" method="POST" class = "form"></form>
      <div class="flex-row justify-sb align-center">
            <button type="submit">Delete my account</button>
        </div>
    </form>
    </div>

<div id="avatar-attribution">
Avatar images by <a href="https://www.freepik.com/free-vector/animal-avatars-flat-design_772910.htm#query=avatar%20icon&position=3&from_view=keyword">Freepik</a>
</div>

