<div class="container">
    <h1>Your articles</h1>

    <div class="flex-row align-center justify-end">
        <div class="dropdown">
            <button class="dropbtn">Sort articles by:</button>
            <div class="dropdown-content">
                <a href="articles-user-date-desc">Date: Newest first</a>
                <a href="articles-user-date-asc">Date: Oldest first</a>
                <a href="articles-user-title-az">Title: A-Z</a>
                <a href="articles-user-title-za">Title: Z-A</a>
                <a href="articles-user-username-az">Author's username: A-Z</a>
                <a href="articles-user-username-za">Author's username: Z-A</a>
            </div>
        </div>
        <button class="new-button"><a href="./create-article">Create new article</a></button>
        <button class="new-button"><a href="./articles-all">Browse all articles</a></button>
    </div>

    <div>
        {{#each articles}}
        <div class="article">
            <h2><a class="unlink" href="/article/{{this.article_id}}">{{this.title}}</a></h2>
            <h6> Written by <span class="author"> {{this.username}} </span> on {{this.created_datetime}} </h6>
            <p>{{{this.content}}}</p>

            {{#if this.image}}
            <img src="{{this.image}}" alt="">
            {{/if}}

            <div class="flex-row align-center justify-end mb">
                <form action="./article-edit" method="POST">
                    <input type="hidden" class="editHidden" name="article_id">
                    <button id="{{this.article_id}}" class="editArticleButton" type="submit">Edit</button>
                </form>
                <form action="./article-delete" method="POST">
                    {{!-- DELETE ARTICLE --}}
                    <input type="hidden" class="deleteHidden" name="article_id">
                    <button id="{{this.article_id}}" class="deleteArticleButton" type="submit">Delete</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>

</div>